.divInfo {
    background-color: #015486;
    color: white;
    width: 600px;
    padding: 20px;
    border-radius: 10px;
}

.divTemperatura {
    display: flex;
    flex-direction: row;
    width: 120px;
    margin-left: 20px;
}

.divResultado {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
}

.temperatura {
    display: flex;
    font-size: 56px;
}

.grau {
    font-size: 22px;
    flex-direction: column;
    margin-top: 10px;
}

.icon {
    width: 80px;
}

.divExtras {
    display: flex;
    align-items: center;
    font-size: 11px;
    height: 100px;
    margin-left: 70px;
}

.extras {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.extra {
    justify-content: left;
    margin: 2px 0;  
}

.divCidade {
    display: flex;
    align-items: flex-start;
}

.cidade {
    font-size: 32px;
    height: 20px;
    margin-left: 10px;
}

.divDescricao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 70px;
}

.descricao {
    justify-content: left;
    margin: 7px 0;
}

.diaSemana {
    justify-content: left;
    margin: 7px 0;
}




