.weekBar {
    display: flex;
    flex-direction: row; /* Deixa os dias lado a lado */
    justify-content: space-between;
    gap: 10px;
    overflow-x: auto; /* Permite rolagem horizontal se necessário */
    padding: 10px;
}