.weekBar {
    display: flex;
    gap: 6px;
    overflow: hidden;
    padding: 10px;
    height: fit-content;
    justify-content: center;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
    flex-wrap: wrap;
}

.weekBar::-webkit-scrollbar {
    height: 8px;
}

.weekBar::-webkit-scrollbar-track {
    background: transparent;
}

.weekBar::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}
